<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- HN Favicon -->
    <link rel="shortcut icon" href="../../public/images/favicon.ico" type="image/x-icon" />
    
    <!-- BootstrapCDN CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../public/css/style.css" type="text/css">

    <title>Hacker News</title>
</head>

<body>

    <div class="container" id="wrapper">
        {{{body}}}
    </div>

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>Copyright &copy; 2019 Cheree Nielson</p>
                </div>
                <div class="col-sm-2 top">
                    <button id="apiBtn"><a href="/api">API for Articles/Notes</a></button>
                </div>
                <div class="col-sm-5 social">
                    <ul class="ftco-footer-social list-unstyled">
                        <li class="ftco-animate"><a href="https://github.com/ChereeNielson" target="_blank"><span class="icon-github"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.linkedin.com/in/chereenielson/" target="_blank"><span class="icon-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="./js/app.js"></script>
    {{!-- <script src="./js/cheree.js"></script> --}}

</body>

</html>