html, body {
    min-height: 100%;   
}

body {
    padding: 70px;
    background: url("../images/background.jpg") repeat;
}

#navbar{
    border-color: #000;
    background-color: #f6f6ef;
    border-style:solid;
    border-bottom: 2px solid black;
    color:black;
}

.btn, a.btn , #btn ,#apiBtn{
    background-color:#fc6621;
    border-color: #000;
    color:white;
}

.jumbotron {
    margin:20px;
    border-color: #000;
    background-color: #f6f6ef;
    border-style:solid;
    border-width: 2px;
}

#scrapeBtn {
    text-align: right;
    float:right;
}

.well {
    background-color:#f6f6ef;
    border-color: #000;
}

.container{
    background-color:#fc6621;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 10 px 0;
    display: inline-block; }
    .ftco-footer-social li a {
        height: 60px;
        width: 60px;
        display: block;
        float: left;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 50%;
        position: relative; }
        .ftco-footer-social li a span {
          position: absolute;
          font-size: 26px;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); 
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          color: #008000; }
        .ftco-footer-social li a span:hover {
          text-decoration: none;
          color: #fff;}

#text{
    background-color:#f6f6ef;
}

img{
    width:50px;
    height:50px;
    float:left;
}

.navbar-brand{
    font-weight: bold;
}

a:hover, a:visited, a:link, #scrapeBtn, a { color:#000; }